.git
.github
.gradle
.idea
.kotlin
.pnpm-store
.vscode
**/build
**/dist
**/node_modules
**/playwright-report
**/storybook-static
**/target
**/test-results
.env
.env.*
!.env.example
!.env.production.example
*.log
