.kotlin/
.pnpm-store/
.idea/
.vscode/
**/target/
**/out/
**/node_modules/
**/dist/
**/test-results/
**/playwright-report/
**/storybook-static/
.env
.env.production
.DS_Store
*.iml
*.log
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
